@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ratio: 1.61803398875;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --h1: 8rem;
    --h2: 6rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFEDDF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #0c0c0c;
}

h1, h2, h3, h4, p, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
}

.container {
    width: calc(100% - var(--s2));
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: var(--s4) 0;
}


/*Landing*/

.landing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.landing__text-container {
    display: flex;
    flex-direction: column;
    gap: var(--s1);
    margin-right: -10rem;
    z-index: 1;
}

.landing__heading {
    font-size: 8rem;
    line-height: 0.62;
    letter-spacing: -0.6rem;
    font-weight: 800;
    color: #F00;
}

.landing__body {
    font-weight: 500;
    font-size: 2rem;
}

.landing__image {
    width: 32rem;
    max-width: 100%;
    border-radius: 0.75rem;
}


/*About*/

.about {
    background-color: #FF0000;
    color: white;
}

.about__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--s2);
}

.about__content {
    flex-basis: 50ch;
    flex-grow: 999;

    display: grid;
    gap: var(--s1);
}

.about__header {
    font-weight: 900;
    font-size: 2.25rem;
    letter-spacing: -0.10rem;
}

.about__image {
    flex-grow: 1;

    width: 100%;
    max-width: 18rem;
    border-radius: 0.75rem;
}


/*Experience*/

.experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    gap: var(--s2);
}

.experience__body {
    display: grid;
    flex-basis: 50ch;
    flex-grow: 999;
    gap: var(--s2);
}

.experience__header {
    max-width: min-content;
}

.experience__icon-container {
    display: flex;
    gap: var(--s1);
    flex-wrap: wrap;
}

.experience__icon {
    width: 3rem;
}

.experience__header-text {
    font-size: var(--h1);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 88%;
    letter-spacing: -2.4px;

    /*https://developer.mozilla.org/en-US/docs/Web/CSS/paint-order
    https://stackoverflow.com/questions/26634201/add-stroke-around-text-on-the-outside-with-css*/
    paint-order: stroke fill;
    -webkit-text-stroke: 2px #0c0c0c;
    -webkit-text-fill-color: #FFEDDF;
}


/*First year*/

.first-year {
    background-color: #0c0c0c;
}

.first-year__section {
    display: grid;
    gap: var(--s3);

    color: white;
}

.first-year__section--bright {
    background-color: #FFEDDF;
}

.first-year__section--bright > * {
    color: #0c0c0c;
}

.first-year__header {
    font-size: var(--h2);
    font-weight: 900;
    letter-spacing: -0.2rem;
    text-transform: uppercase;

    paint-order: stroke fill;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: #0c0c0c;

    padding-bottom: 0 !important;
    line-height: 80%;
}

.first-year__subheading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

.first-year__subheader {
    font-size: 3rem;
    font-weight: 700;

    margin-left: -3rem;
    margin-bottom: -1rem;

    z-index: 1;
}

.first-year__section-count {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: var(--h1);
    font-weight: 800;
    line-height: 80%;
    letter-spacing: -0.4rem;
}

.first-year__section-count--light {
    color: #FFBCBC;
}

:root .first-year__project {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    overflow: hidden;
    width: auto;
}

.first-year__project-image {
    width: 24rem;
    background-color: #FF0000;
}

.first-year__project-title {
    background-color: #750000;

    font-size: 1.25rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;

    padding: var(--s0);
}


/*Subjects*/

.subject {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: var(--s2);

    border-left: #0c0c0c solid 0.3rem;
    padding-left: var(--s1);
}

.subject__left-container {
    display: grid;
    gap: var(--s1);

    flex-basis: 50ch;
    flex-grow: 999;
}

.subject__right-container {
    flex-grow: 1;
}

.subject__heading {
    font-size: 2rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
}

.subject__link {
     display: flex;
     align-items: center;
     gap: var(--s-1);
 }

.subject__link-icon {
      width: 1.5rem;
  }

.subject__link-text {
    color: #0145D8;
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

:root .subject__card {
    aspect-ratio: 5/3.5;
    border-radius: 0.75rem;
}



.subject__image {
    width: 100%;
}


/*Swiper*/

:root .card-swiper--horizontal {
    margin: 0 calc(var(--s2)/-2);
    padding: 0 calc(var(--s2)/2);
}

:root .card-swiper--vertical {
    padding: 30px 0;
    aspect-ratio: 5/3.5;
    width: 18rem;
    margin: 0;
}


/*Contact*/

.contact{
    background-color: #FF0000;
    color: white;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--s3);
}

.contact__header {
    font-size: var(--h2);
    font-weight: 900;
    letter-spacing: -0.2rem;
    text-transform: uppercase;

    margin-bottom: var(--s2);
}

.contact__info-label {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact__info-text {
    font-size: 1.25rem;
    margin-bottom: var(--s1);
}

.contact__info-text--link {
    color: white;
}


/*Form*/

.form {
    display: grid;
    flex-basis: 32rem;
    gap: var(--s1);
}

.form__input-container {
     gap: var(--s-1);
     display: grid;
}

.form__input-label {
    font-weight: 500;
}

.form__input {
    font-family: "Poppins", sans-serif;
    font-weight: 300;

    padding: var(--s0);
    border-radius: 0.75rem;
    border: none;
}

.form__input--textarea {
    resize: none;
    min-height: 8rlh;
}

.form__input--button {
    text-transform: uppercase;

    color: #0c0c0c;
    font-weight: 700;
    cursor: pointer;
}

.form__input:focus {
     outline-color: #FF0000;
}



@media only screen and (max-width: 1024px) {
    :root {
        --h1: 5rem;
        --h2: 4rem
    }

    .container {
        padding: var(--s3) 0;
    }

    .landing__text-container {
        margin-right: 0;
    }

    .landing__image {
        width: 24rem;
    }

    .experience {
        gap: var(--s1);
    }

    .experience__header-text--decorative {
        display: none;
    }

    .experience__header-text {
        font-weight: 900;
        font-size: 2.25rem;
        letter-spacing: -0.10rem;
        -webkit-text-stroke: unset;
        -webkit-text-fill-color: unset;
    }

    .experience__body {
        flex-basis: 100%;
    }
}